@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* @import './base.css'; */
@import 'tailwindcss/utilities';

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
/* Custom gradient animation */
/* Custom Gradient Animation and Text Styles */

@layer utilities {
  .useclass {
    background-image: linear-gradient(44deg, 	#f57f3d 20%, #d7392f 35%, #d7392f 60%, #f57f3d 100%);
    background-size: 200% 200%;
    background-clip: text;
    color: transparent;
    animation: gradient 4s infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

:global(.swiper-button-next, .swiper-button-prev) {
  color: white; /* Adjust color */
  transition: transform 0.2s ease;
}

:global(.swiper-button-next:hover, .swiper-button-prev:hover) {
  transform: scale(1.2); /* Slight zoom on hover */
}

@media (max-width: 768px) {
  :global(.swiper-button-next, .swiper-button-prev) {
    position: absolute;
    bottom: -30px; /* Place buttons below the Swiper */
    width: auto;
    height: auto;
  }
  :global(.swiper-button-next) {
    right: 50%; /* Center aligned */
    transform: translateX(50%);
  }
  :global(.swiper-button-prev) {
    left: 50%; /* Center aligned */
    transform: translateX(-50%);
  }
}
/* .spinners {
  @apply w-full h-full absolute top-0 left-0 z-[-1] overflow-hidden bg-logo-low-opacity bg-no-repeat xl:bg-center;
  background-size: 28%;
  background-position: 51% 23%;
  @include responsive(1024px) {
    background-position: 51% 40%;
  }
  @include responsive(1200px) {
    background-position-x: center;
    background-position-y: 53%;
  }
  .spinner-block {
    @apply h-[680px] lg:h-[950px] xl:h-[1100px] relative w-full my-0 mx-auto;
  }
  .spinner:before {
    @apply block absolute border-2 border-solid rounded-full;
  }
  .spinner.spinner-1:before {
    @apply w-full h-full top-[-17%] left-0 m-auto dark:border-r-link-light-40 dark:border-b-link-light-40 border-b-grey border-r-grey  border-t-transparent border-l-transparent content-[''] animate-rotate-anti-clockwise;
  }
  .spinner.spinner-2:before {
    @apply w-[35%] h-[35%] dark:border-b-link-light-40 border-b-grey dark:border-r-link-light-40 border-r-grey border-t-transparent border-l-transparent  top-[8%] left-[33%] m-auto content-[''] animate-rotate-clockwise;
  }
} */
