@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@layer utilities {
  .useclass {
    background-image: linear-gradient(
      44deg,
      #f57f3d 20%,
      #d7392f 35%,
      #d7392f 60%,
      #f57f3d 100%
    );
    background-size: 200% 200%;
    background-clip: text;
    color: transparent;
    animation: gradient 4s infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

:global(.swiper-button-next, .swiper-button-prev) {
  color: white; /* Adjust color */
  transition: transform 0.2s ease;
}

:global(.swiper-button-next:hover, .swiper-button-prev:hover) {
  transform: scale(1.2); /* Slight zoom on hover */
}

@media (max-width: 768px) {
  :global(.swiper-button-next, .swiper-button-prev) {
    position: absolute;
    bottom: -30px; /* Place buttons below the Swiper */
    width: auto;
    height: auto;
  }
  :global(.swiper-button-next) {
    right: 50%; /* Center aligned */
    transform: translateX(50%);
  }
  :global(.swiper-button-prev) {
    left: 50%; /* Center aligned */
    transform: translateX(-50%);
  }
}
.swiper-pagination {
  position: relative;
  top: 15px !important;
  bottom: 20px;
  padding-bottom: 50px;
}
.swiper-pagination-bullet {
  background-color: rgb(255, 255, 255);
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active {
  background-color: rgb(230, 85, 64);
  width: 16px;
  position: relative;
  top: 1.5px;
  height: 16px;
}
/* Style the scrollbar track */
.swiper-scrollbar {
  position: relative;
  top: 1px;
  background-color: #d7392f; /* Light gray for the track */
  height: 8px; /* Adjust height */
  width: 10px;
  border-radius: 5px; /* Rounded edges */
}

/* Style the scrollbar handle */
.swiper-scrollbar-drag {
  background-color: #d7392f !important; /* Blue for the handle */
  border-radius: 5px; /* Rounded edges for the handle */
  transition: background-color 0.3s ease; /* Smooth color transition */
}
/* Custom container utility */
.container-custom {
  @apply max-w-[90%] xl:max-w-[80%] mx-auto;
}

/* Add this CSS in your globals.css or a dedicated CSS file */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .gradient-border {
    position: relative;
  }

  .gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px; /* Border thickness */
    border-radius: inherit; /* Matches parent border radius */
    background: linear-gradient( 44deg,
    #f57f3d 20%,
    #d7392f 35%,
    #d7392f 60%,
    #f57f3d 100%);
    -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}


.underline-custom:hover::after {
  background-color: linear-gradient( 44deg,
  #f57f3d 20%,
  #d7392f 35%,
  #d7392f 60%,
  #f57f3d 100%);; /* Hover pe underline ka color change */
}



